/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

/* regole blocchi */
.container{
  height: 100vh;
  position: relative;
  border-bottom: 5px solid black;
}

main *{
  border-radius: 20px 20px 20px 20px;
}

.container.vimercate{
  background-image: url('../img/vimercate.jpg');
  background-size: cover;
  text-shadow: 2px 2px #0000FF;
}

.container.usmate{
  background-image: url('../img/usmate.jpg');
  background-size: cover;
  text-shadow: 2px 2px #FF0000;
}

.container.concorezzo{
  background-image: url('../img/concorezzo.jpg');
  background-size: cover;
  text-shadow: 2px 2px #00ff00;
}

/* regole layover*/
.layover{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
}

.layover.blu{
  background-color: #0000FF70;
}

.layover.red{
  background-color: #FF000040;
}

.layover.verde{
  background-color: #00FF0040;
}

/* regole titolo */
.title{
  background-color: #00000090;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: calc( 20px + 2vw );
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
  color: white;
  padding: 10px;
}

.title a{
  text-decoration: none;
  color: white;
  padding: 10px;
}


.title a:hover{
  color: black;
}
